@use "../../foundation/base";
@use "../../foundation/variables";
@use "../../foundation/mixins";

.p-about {
    height: auto;
    width: 100%;
    font-family: 'M+ PLUS 1p';
    color: $black02;
    background-color: $white;
    margin-top: 0;
}

.p-about__title {
    position: relative;
    @include fontsize(28);
    font-weight: 700;
    margin: 32px 22px 25px 22px;

    @media #{$screen01} {
        @include fontsize(36);
        margin: 39px 42px 20px 42px;
    }

    @media #{$screen02} {
        margin: 63px 100px 20px 100px;
    }
}

.p-about__text {
    position: relative;
    @include fontsize(16);
    line-height: 24px;
    margin: 0 18px 9px 22px;

    @media #{$screen01} {
        line-height: 100%;
        margin: 0 35px 27px 42px;
    }

    @media #{$screen02} {
        margin: 0 100px 55px 100px;
    }
}

.p-about__text--search {
    line-height: 100%;
}

.p-about__title--primary {
    margin: 34px 20px 25px 20px;

    @media #{$screen01} {
        margin: 60px 60px 55px 60px;
    }

    @media #{$screen02} {
        margin: 63px 100px 57px 100px;
    }
}

.p-about__text--single {
    line-height: 100%;
    margin: 0 20px 0 20px;

    @media #{$screen01} {
        margin: 0 60px 0 60px;
    }

    @media #{$screen02} {
        margin: 0 100px 0 100px;
    }
}

.p-about__title--secondary {
    @include fontsize(24);
    font-weight: 700;
    margin: 36px 20px 1px 20px;

    @media #{$screen01} {
        @include fontsize(28);
        margin: 62px 60px 0 60px;
    }

    @media #{$screen02} {
        margin: 60px 100px -1px 100px;
    }
}

.p-about__title--tertiary {
    @include fontsize(20);
    font-weight: 700;
    margin: 27px 20px 0 20px;

    @media #{$screen01} {
        margin: 56px 60px 0 60px;
    }

    @media #{$screen02} {
        margin: 57px 100px 0 100px;
    }

}

.p-about>.p-about__title--tertiary:nth-child(5) {
    margin-top: 34px;

    @media #{$screen01} {
        margin-top: 73px;
        margin-bottom: 1px;
    }
}