@use "../../foundation/base";
@use "../../foundation/variables";
@use "../../foundation/mixins";

.p-about {
    height: auto;
    width: 100%;
    font-family: 'M+ PLUS 1p';
    color: $black02;
    background-color: $white;
    margin-top: 0;
}

.p-about__title {
    position: relative;
    @include fontsize(28);
    font-weight: 700;
    margin: 32px 22px 25px 22px;
    @media #{$screen01} {
        @include fontsize(36);
        margin: 39px 42px 20px 42px;
    }
    @media #{$screen02} {
        margin: 63px 100px 20px 100px;
    }
}

.p-about__text {
    position: relative;
    @include fontsize(16);
    line-height: 24px;
    margin: 0 18px 9px 22px;
    @media #{$screen01} {
        line-height: 100%;
        margin: 0 35px 27px 42px;
    }
    @media #{$screen02} {
        margin: 0 100px 55px 100px;
    }
}

.p-about__text--search {
    line-height: 100%;
}