@use "../../foundation/base";
@use "../../foundation/variables";
@use "../../foundation/mixins";

.p-card__inner {
    position: absolute;
    background-image: url(../../../images/card_image.jpg);
    height: 285px;
    @media #{$screen01} {
        background-image: url(../../../images/card_image2.jpg);
    }
    @media #{$screen02} {
        background-image: url(../../../images/card_image3.jpg);
        height: 530px;
    }
}

.p-card__title {
    position: absolute;
    font-family: 'M+ PLUS 1p';
    @include fontsize(36);
    font-weight: 700;
    color: $white;
    margin-left: 25px;
    margin-top: 122px;
    @media #{$screen01} {
        margin-left: 86px;        
    }
    @media #{$screen02} {
        @include fontsize(40);
        margin-top: 234px;
    }
}

.p-card__title--archive {
    font-family: 'Roboto';
    margin-left: 37px;
    margin-top: 106px;
}

.p-card__inner--archive {
    background-image: url(../../../images/card_archive1.jpg);
    @media #{$screen01} {
        background-image: url(../../../images/card_archive2.jpg);
    }
    @media #{$screen02} {
        background-image: url(../../../images/card_archive3.jpg);
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
    }
}

.p-card__sub {
    position: absolute;
    font-family: 'M+ PLUS 1p';
    @include fontsize(16);
    color: $white;
    margin-left: 37px;
    margin-top: 160px;
}