@use "../../foundation/base";
@use "../../foundation/variables";
@use "../../foundation/mixins";

.p-container--top {
    background-image: url(../../../images/container1.jpg);
}

.p-container--bottom {
    background-image: url(../../../images/container2.jpg);
}

.p-container--top,
.p-container--bottom {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 643px;
    height: auto;
    margin-bottom: 20px;
}

.p-container__title {
    font-family: 'Roboto';
    @include fontsize(41);
    color: $textgray;
    margin-left: 13px;
    margin-top: 13px;
    position: relative;
    margin-bottom: 25px;
    @media #{$screen01} {
        margin-bottom: 30px;
    }
    @media #{$screen02} {
        margin-bottom: 50px;
    }
    &::after {
        position: absolute;
        content: '';
        bottom: -19px;
        left: 0;
        height: 4px;
        width: 33px;
        background-color: $white;
        @media #{$screen01} {
            bottom: -25px;
            left: 4px;
        }
        @media #{$screen02} {
            width: 63px;
            bottom: -43px;
            left: 7.5px;
        }
    }

}

.p-container__block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.p-container__overlay-wrapper {
    margin-top: auto;
}