@use "../../foundation/base";
@use "../../foundation/variables";
@use "../../foundation/mixins";

.p-overlay-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    position: relative;
    }
    
.p-overlay {
    background-color: rgba(255,255,255,0.8);
    color: $black_o;
    font-family: 'M+ PLUS 1p';
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 16px;
    position: relative;
    
    }

.p-overlay__title {
    @include fontsize(22);
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 8px;
}

.p-overlay__text {
    @include fontsize(16);
}