@use "../../foundation/variables";

.p-search {
    border-radius: 10px;
    border: 1px solid $gray;
}

.p-serch-input {
    display: flex;
    align-items: center;
    width: 318px;
    height: 46px;
    margin-right: 12px;
}

.p-search-button {
    width: 90px;
    height: 46px;
    
}