//color
$offwhite: #FFF7EF;
$textblack: #707070;
$gray: #F2EDE9;
$lightgray: #DED8D3;
$white: #FFFFFF;
$textgray: #EAEAEA;
$black02: #3C2A10;
$brown: #3C2B1C;
$hover: #7F7F7F;
$hover02: #999999;
$backgray: #F5F5F5;
$tagblack: #3C2A10;
$blue: #4A6C9B;

//breakpoints
$screen01: "screen and (min-width: 768px)";
$screen02: "screen and (min-width: 1024px)";