.c-layout {
    @media #{$screen02} {
        display: flex;
        height: 100%;
        align-items: stretch;
        position: relative;
    }
}


.c-layout__main {
    @media #{$screen02} {
        width: 81%;
        order: 1;
        height: 100%;
    }
}