@use "../../foundation/base";
@use "../../foundation/variables";
@use "../../foundation/mixins";

.c-overlay {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    position: relative;
}